<h2><%= @play.title %></h2>
<h3><%= @play.director %></h3>
<p><%= @play.description %></p>

<%= link_to 'Назад', root_path %>
<%= link_to 'Редактировать', edit_play_path(@play) %>
<%= link_to 'Удалить', play_path(@play), method: :delete, data: { confirm: 'Вы уверены?' } %>